.webpage-format {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.original-format {
    display: flex;
    background-color: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    margin: auto;
}

.original-form-two {
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    overflow: hidden;

}

.original-form-two-layer-one {
    display: flex;
    background-color: #93d0c2;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.original-form-one-layer-one {
    background-color: #fac9cd;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

.original-form-two-second-layer {
    display: flex;
    background-color: #70c4b1;
    width: 21.4285715vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    top: -42.857143vh;
    left: 32.15vw;
    animation-name: slideleft;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.original-form-one-second-layer {
    display: flex;
    background-color: #f7a9b6;
    width: 0vw;
    height: 14.285714vh;
    margin: auto;
    margin-left: 0vw;
    animation-name: slideleftsmall;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.original-form-two-layer-three {
    display: flex;
    width: 42.857143vw;
    height: 21.4285715vh;
    margin: auto;
    position: relative;
    top: -42.857143vh;
    animation-name: slideup;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.original-form-two-layer-three-right {
    display: flex;
    background-color: #00b49b;
    width: 21.4285715vw;
    height: 21.4285715vh;
    margin: auto;
}

.original-form-two-layer-three-left {
    display: flex;
    background-color: #00a087;
    width: 21.4285715vw;
    height: 21.4285715vh;
    margin: auto;
}

.original-form-one-layer-three-right{
    display: flex;
    background-color: #f26f8e;
    width: 7.142857vw;
    height: 0vh;
    margin-left: 0vw;
    margin-top: 0vw;
    animation-name: slideupsmall;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.original-form-one-layer-three-left{
    display: flex;
    background-color: #e94167;
    width: 7.142857vw;
    height: 0vh;
    margin: auto;
    margin-top: 0vw;
    margin-right: 0;
    animation-name: slideupsmall;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}





/* Animations */
@keyframes slideleft {
    from {left: 33vw;}
    to {left: 10.7vw;}
}

@keyframes slideleftsmall {
    from {left: 32.15vw;
          width: 0;}
    to {left: 0vw;
        width:7.142857vw;}
}

@keyframes slideup {
    from {top: -42.857143vh;}
    to {top: -64.2857145vh;}
}

@keyframes slideupsmall {
    from {top: 32.15vw;
          height: 0;}
    to {top: 0vw;
        height:7.142857vh;}
}

@keyframes slideright {
    from {left: -32.1vw;}
    to {left: -10.7vw;}
}

@keyframes sliderightsmall {
    from {left: -32.15vw;
          width: 0;}
    to {left: 0vw;
        width:7.142857vw;}
}