* {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;

}


a {
    font-size: 9pt;
    line-height: 10.5pt;
    text-decoration: none;
    color: #000;
    word-spacing: -1px;
    letter-spacing: .4px;
}


p {
    font-size: 9pt;
    line-height: 10.5pt;
    word-spacing: -1.2px;
    letter-spacing: .4px;
    color: #000;
}


header {
    grid-column: 2/7;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    padding-top: 3pt; 
}


body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: #f1f2f2;
}

.analysis-content {
    grid-column: 1/8 ;
    grid-row: 2/7 ;
    overflow-y: scroll;

}

.analysis-content p {
    font-size: 34px;
    line-height: 43px;
}


.analysis {
    grid-column: 2/3;
}

footer {
    grid-row: 6/7;
    grid-column: 1/8;
    background-color: #f1f2f2;
    position: fixed;
    z-index: 9999;
}


@media screen and (min-width: 365px) {
   
    a {
        font-size: 10pt;
        line-height: 12pt;
        word-spacing: -1px;
        letter-spacing: .4px;
   }
    
    
    p {
        font-size: 10pt;
        line-height: 11.5pt;
        word-spacing: -1.2px;
        letter-spacing: .4px;
    }

  }

@media screen and (min-width: 425px) {
    .analysis {
        grid-column: 3/4;
    }
    
    
    header p {
        grid-column: 4/6;
    }
    
    
    .dropdown {
        grid-column: 4/5;
        text-align: left;
    }
}

@media screen and (min-width: 650px) {
    a {
        font-size: 9pt;
        line-height: 10.5pt;
        text-decoration: none;
        color: #000;
        word-spacing: -1px;
        letter-spacing: .4px;
    }
    
    
    p {
        font-size: 9pt;
        line-height: 10.5pt;
        word-spacing: -1.2px;
        letter-spacing: .4px;
        color: #000;
    }

    .analysis-content p {
        font-size: 62px;
        line-height: 78px;
    }
  }

@media screen and (min-width: 700px) {
    header {
        grid-template-rows: 22pt auto;
     }

    .analysis {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    header p {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .dropdown {
        grid-column: 5/6;
        grid-row: 2/3;
        text-align: left;
    }
  }

@media screen and (min-width:730px) {
    
    a {
        font-size: 10pt;
        line-height: 12pt;
        word-spacing: -1px;
        letter-spacing: .4px;
   }
    
    
    p {
        font-size: 10pt;
        line-height: 11.5pt;
        word-spacing: -1.2px;
        letter-spacing: .4px;
    }
}

@media screen and (min-width: 1020px) {


    header {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 34.5pt 1fr;
        grid-column: 1/14;
     }

    .analysis {
        grid-column: 11/12;
        grid-row: 1/2;
    }
    
    header p {
        grid-column: 12/14;
        grid-row: 1/2;
    }
    
    .dropdown {
        grid-column: 12/13;
        grid-row: 2/3;
        text-align: left;
    }

    a {
        font-size: 11pt;
        line-height: 12.5pt;
   }
    
    
    p {
        font-size: 11pt;
        line-height: 12.5pt;
    }

    .analysis-content p {
        font-size: 98px;
        line-height: 116px;
    }
  }

@media screen and (max-height: 700px) {
    header {
        grid-template-rows: 22pt auto;
        padding-bottom: 5px;
     }

    a {
        font-size: 9pt;
        line-height: 10pt;
        word-spacing: -1px;
        letter-spacing: .4px;
   }
    
    
    p {
        font-size: 9pt;
        line-height: 10pt;
        word-spacing: -1.2px;
        letter-spacing: .4px;
    }

  }
