.typefaces {
    display: flex;
    width: 98.5vw;
    height: auto;
    overflow: hidden;
}

.typefaces img {
    margin: auto;
    background-color: #000;
    width: 30vw;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.layout img {
    margin: auto;
    background-color: #000;
    height: 100vh;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

p {
    margin-top: 5vh;
    margin-left: 1.5vw;
}

